/* This is for the footer to stick at the bottom */
/* html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    margin-top: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 500;
}

li {
    list-style: none;
} */

.footnote ol>li::marker {
    content:counter(li-counter) ". ";
}

img {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height : auto;
}

.admonition.regle {
    --hover: var(--background-contrast-brown-caramel-hover);
    --active: var(--background-contrast-brown-caramel-active);
    background-color: var(--background-contrast-brown-caramel);
    box-shadow: inset 0.25rem 0 0 0 var(--background-flat-red-marianne);
}